.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu__title {
  font-family: "Inter", Arial, Sans-Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin: 0 auto;
}

.menu__subtitle {
  font-family: "Noto Serif", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 100px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  column-gap: 100px;
  padding: 0;
}
